<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/cal.css">
    <!-- Add this to your base.html or wherever appropriate -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="row" id="okk">
        <div class="col-12">
            <form action="" method="post" >
                {% csrf_token %}
                <h1>Calculator</h1>
                <label for="" >Value1</label>
                <input type="text" class="form-control" name="num1">
                <label for="">Operator</label>
                <select name="opr" id="" class="form-control" >
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <label for="" >Value2</label>
                <input type="text" class="form-control" name="num2">
                
                <button type="submit">Calculate</button>

                <label for="">OutPut</label>
                <input type="text" name="output" class="form-control" value="{{c}}">
            </form>
        </div>
    </div>
</body>
</html>